body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adb5bd;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ddd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn.delete {
    background-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}