.navbar {
  background-color: #87CEEB;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.admin-icon {
  display: flex;
  align-items: center;
}

.admin-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}



